#doodleBG {
  background-image: url(assets/class_doodles_by_katmcgeer_d1lug6h-pre.jpg);
  width: auto;
  height: auto;
  background-position: center center;
}
.wrapper {
  max-width: 900px;
  margin: auto;
  font-family: "Arial";
}

.toolbar {
  width: 900px;
  height: 50px;
  margin-top: 30px;
  float: center;
}
.toolbar a {
  float: left;
  width: 11%;
  text-align: center;
  padding: 6px 5px;
  transition: all 0.5s ease;
}

.toolbar a:hover {
  background-color: #000;
}

.selected {
  background-color: #000;
}

#draw {
  width: 100%;
  border: 3px solid black;
}
#img-data-div {
  width: 100%;
  max-width: 900px;
  /* height: 200px;
  position: absolute;
  bottom: -80px; */
}


canvas {
  background: url("./assets/paper.png");
  border: solid black 1px;

  background-color: grey;
  margin-top: 50px;
}
#set1 {
  margin-top: 20px;
  margin-bottom: 100px;
}
#set2 {
  margin-top: 200px;
  margin-bottom: 200px;
}
#set3 {
  margin-top: 20px;

}

#colorTray {
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(0, 0, 0, .5);
  border-radius: 6px;
  left: 30%;
  top: 12%;

}

.colorTag {
  position: relative;
  float: left;
  border: rgba(0, 0, 0, .3) 6px solid;
  border-radius: 50%;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
}